
body{

}
.container-1 div, .container-2 div, .container-3 div{
  border:1px #ccc solid;
  padding:10px;
  margin-top: 10px;
}

.container-3{
 display: flex;
 flex-wrap:wrap;
 justify-content: space-around;
}




.box-1{
flex:2;
order:2;
}

.box-2{
flex:1;
order:1;
}

.box-3{
flex:1;
order:3;
}


.box-1a{
  flex-basis:25%;
}

.box-3a{

  flex-basis:28vw;
}


@media(min-width: 624px){
  .container-1{
  display: flex;
  //align-items: flex-start;
  flex-direction:row;
  }

  .container-2{
  display: flex;
  justify-content: space-between;

  }


  }

}
